
DemoLauncher/APIDemo_DemoLauncher.csproj.user
DemoLauncher/appsettings.Development.json
DemoLauncher/appsettings.json
DemoLauncher/aws-beanstalk-tools-defaults.json
DemoLauncher/wwwroot
DemoLauncher/obj
DemoLauncher/bin
DemoLauncher/Pages/Demos
DemoLauncher/Properties/launchSettings.json
.vs
DemoLauncher/DeployNotes.txt
ObakeUDPTest/bin/Release/netcoreapp2.2/ChromeDriver/chromedriver
ObakeUDPTest/ChromeDriver
ObakeUDPTest/Bin
ObakeUDPTest/Obj
DemoLauncher/aws-ecs-tools-defaults.json
DemoLauncher/Properties/PublishProfiles/registry.hub.docker.com_nickgamb.pubxml
DemoLauncher/Properties/PublishProfiles/registry.hub.docker.com_nickgamb.pubxml.user
docker-compose.dcproj
docker-compose.override.yml
docker-compose.yml
obj/Docker/CachedComposeConfigFilePaths.cache
obj/Docker/docker-compose.vs.debug.partial.g.yml
obj/Docker/docker-compose.vs.release.partial.g.yml
obj/Docker/DOCKER_REGISTRY.cache
obj/Docker/MergedDockerCompose.cache
obj/Docker/TargetOS.cache
