
DemoLauncher/APIDemo_DemoLauncher.csproj.user
DemoLauncher/appsettings.Development.json
DemoLauncher/appsettings.json
DemoLauncher/aws-beanstalk-tools-defaults.json
DemoLauncher/wwwroot
DemoLauncher/obj
DemoLauncher/bin
DemoLauncher/Pages/Demos
DemoLauncher/Properties/launchSettings.json
.vs
DemoLauncher/DeployNotes.txt
