@page
@model PageSignupApiModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <main>
        <!-- Login -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: 'reverse', settings_mode_oneelement_max_offset: '150'}">
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-size-cover g-bg-bluegray-opacity-0_3--after" style="height: 140%; background-image: url(../../assets/img-temp/1920x1080/img2.jpg);"></div>
            <!-- End Parallax Image -->

            <div class="container g-pt-100 g-pb-20">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5 flex-md-unordered align-self-center g-mb-80">
                        <div id="signup-section" class="u-shadow-v21 g-bg-white rounded g-pa-50">
                            <header class="text-center mb-4">
                                <h2 class="h2 g-color-black g-font-weight-600">Signup</h2>
                            </header>

                            <!-- Form -->
                            <form method="post" class="g-py-15">
                                <div class="mb-4">
                                    <input asp-for="UserNameInput" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="text" placeholder="UserName@suffix.com">
                                </div>
                                <div class="mb-4">
                                    <input asp-for="EmailInput" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="email" placeholder="email@domain.com">
                                </div>
                                <div class="mb-4">
                                    <input asp-for="FirstNameInput" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="text" placeholder="First Name">
                                </div>
                                <div class="mb-4">
                                    <input asp-for="LastNameInput" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="text" placeholder="Last Name">
                                </div>
                                <div class="g-mb-30">
                                    <input asp-for="PasswordInput" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15" type="tel" placeholder="Password">
                                </div>

                                <div class="text-center mb-5">
                                    <button asp-page-handler="Signup" id="SignupSubmitButton" class="btn btn-block u-btn-primary rounded g-py-13">Signup</button>
                                </div>

                                <div class="d-flex justify-content-center text-center g-mb-30">
                                    <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                                    <span class="align-self-center g-color-gray-dark-v5 mx-4">OR</span>
                                    <div class="d-inline-block align-self-center g-width-50 g-height-1 g-bg-gray-light-v1"></div>
                                </div>

                                <div class="row no-gutters g-mb-40">
                                    <div class="col-6">
                                        <button class="btn btn-block u-btn-facebook rounded g-px-30 g-py-11 mr-1" type="button">Facebook</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-block u-btn-twitter rounded g-px-30 g-py-11 ml-1" type="button">Twitter</button>
                                    </div>
                                </div>
                            </form>
                            <!-- End Form -->

                            <footer class="text-center">
                                <p class="g-color-gray-dark-v5 mb-0">
                                    Already have an account? <a class="g-font-weight-600" href="/Login/page-login-api">signin</a>
                                </p>
                            </footer>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- End Login -->
        <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Plugins Init. -->
    <script>$(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
        </script>
</body>

</html>
